
<div class="profielen">
  <% for(let [index,data] of datas.entries() || []){  %>
   book1 : <%=book1%>
   book2 : <%=book2%>
   book3 : <%=book3%>
  <%} %>
  <ul>
    <li>
      <img src="../static/public/images/profiel1.jpeg" alt="profiel1">
    </li>
    <li>
      <h2>Naam</h2>
    </li>

    <li><%= book1.favBook %></li>
    <li><%= favBooks.book2 %></li>
    <li><%= favBooks.book3 %></li>

  </ul>

</div>
 <%}%>
