<%- include ("partials/head"); %>
      <body>

         <%- include ("partials/nav"); %>

      <h1>Matches</h1>

      <button type="button" name="filteren" class="verbergButton" >Verberg filters</button>

<div class="filters">
    <%= findBook[0].book1 %>
    <%= findBook[0].book2 %>
  <%= findBook[0].book3 %>
</div>

      <div class="matches">
          <%- include ("partials/profielen"); %>
      </div>

    <%- include ("partials/footer"); %>
  

      </body>
    </html>
